body {
    background-image: url('../img/Fondo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0 32px;
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: black;
}

body:before {
	content: "";
	width: 100%;
    height: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(#ff9100,#ca049f, #d591fdbd);
    opacity: 0.25;
    z-index: -1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 35%;
    height: 70%;
    padding: 5px 20px 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.329);
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card {
    font-size: 16px;
    margin: 38px;
    color: rgba(0, 0, 0, 0.664);
}

h1{
    margin: 10px;
    font-size: 30px;
    color: black;
}

.circ-img{
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Hace que el contenedor sea circular */
    overflow: hidden; /* Oculta el contenido que excede el círculo */
    position: relative; /* Posición relativa para alinear la imagen */
    background: rgba(255, 255, 255, 0.35);
    margin-bottom: 10px;
}

.circ-img img{
    width: 70%; /* Ajusta el tamaño de la imagen al contenedor */
    height: auto;
    position: absolute; /* Posición absoluta para centrar la imagen */
    top: 50%; /* Mueve la imagen hacia arriba */
    left: 50%; /* Mueve la imagen hacia la izquierda */
    transform: translate(-50%, -50%); /* Centra la imagen */
}

.ingresos{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: black;
    width: 80%;
    height: 80%; 
}

label{
    margin: 5px;
}

input{
    box-sizing: border-box; 
    width: 100%;
    height: 35px; 
    border-radius: 15px;
    font-size: 16px;
    border: 0px; 
    padding: 0 15px;
    background: rgba(237, 237, 237, 0.6);
    color: rgba(0, 0, 0, 0.616);
    margin-bottom: 10px;
    outline: none; 
}

.cont-btn{
    margin: 5px;
    padding-top: 20px;
    width: 100%;
}

button{
    box-sizing: border-box; 
    width: 40%;
    height: 30px; 
    border-radius: 15px;
    font-size: 16px;
    border: 0px;
    background: #62a5f4;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}

button:hover {
    background-color: rgb(71, 97, 145); /* Nuevo color al pasar el mouse */
    transform: scale(1.1)
}

@media screen and (max-width: 768px) {
    .card{
        width: fit-content;
        margin: 30px 0px 15px;
    }

    .ingresos{
        align-items: center;
    }

    
    button{
        width: auto;
        height: 30%;
        font-size: auto;
    }
}