body {
    background-image: url('../img/Fondo.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0 32px;
    background-repeat: round;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 3;
    width: 40%;
    height: 70%;
    padding: 5px 20px 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card {
    font-size: 16px;
    margin: 38px;
    color: rgba(0, 0, 0, 0.37);
}

h1{
    margin: 10px;
    font-size: 30px;
    color: black;
}

.ingresos{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: black;
    width: 80%;
    height: 80%; 
}

label{
    margin: 5px;
}

input, select{
    box-sizing: border-box; 
    width: 100%;
    height: 35px; 
    border-radius: 15px;
    font-size: 16px;
    border: 0px; 
    padding: 0 15px;
    background: rgba(237, 237, 237, 0.6);
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
    outline: none; 
}

.cont-btn{
    align-items: center;
    margin: 5px;
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
}

button{
    border-radius: 15px;
    font-size: 16px;
    border: 0px;
    width: 40%;
    margin-bottom: 10px;
    font-family: Verdana, sans-serif;
    font-weight: bolder;
}

.guardar{
    background: rgb(98, 165, 244);
}

.salir{
    background: rgb(245, 52, 27);
}

.guardar:hover {
    background-color: rgb(71, 97, 145); /* Nuevo color al pasar el mouse */
    transform: scale(1.1)
}

.salir:hover {
    background-color: rgb(172, 38, 21); /* Nuevo color al pasar el mouse */
    transform: scale(1.1)
}

@media screen and (max-width: 768px) {
   .card{
        width: 80%;
        margin: 30px 0px 15px;
    }

    .ingresos{
        align-items: center;
    }

    
    button{
        width: 40%;
        font-size: 15px;
    }   
}