body {
    margin: 0;
    padding: 0;
    background-color: #565656;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.panel {
    width: 20%;
    /* Ajusta el ancho del panel */
    height: 100vh;
    background: linear-gradient(#3B0A42, #89006B);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: fixed;
}

.opcion {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-left: 30px;
}

.opcion img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.opcion a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.opcion span {
    font-size: larger;
    font-weight: bold;
    flex-grow: 1;
}

.espacio {
    margin-bottom: 10px;
}

#lydch {
    font-size: 24px;
    text-align: center;
}

#perfil {
    margin-top: auto;
    margin-bottom: 210px;
    text-align: center;
}

#perfil img {
    width: 60px;
    height: 60px;
}
 

.contenedor {
    background-color: #56565673;
    margin-left: 6cm;
    height: 99.5vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.subir::-webkit-scrollbar {
    width: 0;
}

.subir {
    max-width: 800px;
    max-height: calc(100vh - 5cm);
    padding: 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: none;
    display: flex;
    flex-direction: row; 
}

.subir-foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 50%; 
}

.usuario-publicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
}

.subir-foto input[type="file"] {
    display: none;
}

.subir-foto #seleccionar-foto {
    margin-top: 10px;
    padding: 10px 20px;
    font-weight: bold;
    background: linear-gradient(#3B0A42, #89006B);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.foto-preview {
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 80px;
}


.usuario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.usuario {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.usuario-publicacion .descripcion {
    width: 90%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color:  rgba(0, 0, 0, 0.1);
    color: white;
    margin-left: 20px;
}

.usuario-publicacion .publicar {
    padding: 10px 20px;
    font-weight: bold;
    background: linear-gradient(#3B0A42, #89006B);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .opcion span {
        display: none;
    }

    .panel {
        width: 2cm;
    }

    .opcion img {
        width: 30px; 
        height: 30px;
    }

    #lydch a img , #perfil img{
        width: 35px !important; 
        height: 35px !important;
    }

    .contenedor {
        margin-left: 2cm; 
    }

    .subir {
        flex-direction: column;
    }

    .subir-foto, .usuario-publicacion {
        width: 100%;
    }

    .foto-preview {
        width: 200px;
        height: 200px;
    }
    
    .subir-foto #seleccionar-foto {
        margin-bottom: 10px;
    }
}
